:root {
  --color-fill: #F3EEE3;
  --color-dark: #181D14;
  --color-white: #fff;
  --color-green: #04DA00;

  --font-family-base: "Inter" sans-serif;

  --border-radius-btn: 36px;
  --border-radius-card: 40px;

  --container-width: 1278px;
  // header container width
  --container-width-header: 1235px;
  // mobile container padding x
  --container-padding-x: 20px;
  --frame-width: 1425px;
  // integer value
  --frame-width-int: 1425;

  --transition-duration: 0.2s;

}